<nav id="NavSPA" *ngIf="NavVisivel && !Starter">
    <label (click)="ScrollParaTop()">{{municipio.nome}}</label>
    <label (click)="ScrollParaTabela()">Licitação</label>
    <label (click)="ScrollParaLicitacao()">{{LicitacaoID}}</label>
</nav>

<app-header></app-header>

<div id="menuBtnScroll" *ngIf="MenuVisivel">
    <button id="btnMenu" (click)="SelectSuperior()">{{this.Principal}}</button>
    <button class="opt" *ngIf="InferiorVisivel" (click)="SelectInferior()">{{this.Inferior}}</button>
    <button class="opt" *ngIf="BtnLicitaVisibilidade" (click)="ScrollParaLicitacao()" >{{LicitacaoID}}</button>
</div>

<app-filtros [NomeCidade]="municipio.nome"></app-filtros>



<div class="container-second" *ngIf="Loaded">
    <div class="row justify-content-md-center my-10">
        <div class="EffectLoad mat-elevation-z2 col"></div>
    </div>
    <div class="row justify-content-md-center my-10">
        <div class="EffectLoad mat-elevation-z2 col"></div>
    </div>
</div>

<div class="container" *ngIf="barchartVisivel">
    <div class="row justify-content-md-center my-10">
        <div class="my-card mat-elevation-z2 col">
            <h5>Ranking de gastos por município (R$)</h5>
            <app-bar-chart [data]="data" *ngIf="!ExibirErrorMunicipio"></app-bar-chart>
            <label *ngIf="ExibirErrorMunicipio">Ocorreu um erro na visulização</label>
        </div>
    </div>
    <div class="row justify-content-md-center my-10">
        <div class="my-card mat-elevation-z2 col">
            <h5>Ranking de gastos por empresa (R$)</h5>
            <app-barchart-empresas [dataEmpresas]="dataEmpresas" *ngIf="!ExibirErrorEmpresa"></app-barchart-empresas>
            <label *ngIf="ExibirErrorEmpresa">Ocorreu um erro na visulização</label>
        </div>
    </div>
</div>

<app-tabela *ngIf="ShowTabela && !Starter" [LicitacaoID]="LicitacaoID" (mudouValor)="onMudouValor($event)"></app-tabela>
<app-licitacao id="licitacao" *ngIf="ShowLicitacao"></app-licitacao>
<div style="height: 10vh;"></div>
