#titulo {
    font-weight: 500;
    color: #0d4247;
}
#NavSPA{
    width: 100vw;
    background-color:#042F3D;
    margin-right: 0vw;
    position: fixed;
    z-index: 300;
    padding-top: 3vh;
    padding-bottom: 2vh;
}
#NavSPA label{
    display: inline;
    color: white;
    margin-left: 5vw;
}
#NavSPA label:first-child{
    margin-left: 70vw;
}
#btnMenu{
    border:none;
    background-color: #fff;
    box-shadow:2px 2px 5px slategray;
    padding-left:2vw;
    padding-right: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 10px;
    position: absolute;
    margin-top: 3vh;
    margin-left: 3vw;
}
.my-card {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 700px;
    height: 95%;
    padding: 15px;
    background-color:white;
    margin: auto;
    margin-bottom: 15px;
    text-align: center;
}
.EffectLoad{
    display: flex;
    flex-direction: column;
    width: 52vw;
    max-width: 700px;
    height: 52vh;
    padding: 15px;
    margin: auto;
    margin-bottom: 15px;
    text-align: center;
    animation:load 2s infinite;
    background-color: white
}
.container-second{
    position: absolute;
    margin-left: 24.9vw;
    z-index: 10;
}
@keyframes load{
    from{
        background-color:white;
        
    }
    to{
        background-color:#ddd;
    }
}

.my-card label{
    color:#0d4247;
    font-weight: bolder;
    font-size: 2vw;
}

@media screen and (max-width: 768px) {
    .my-card {
        max-width: 95%;
    }
}

