<app-header></app-header>

<app-filtros></app-filtros>

<div class="container">
    <div class="row justify-content-md-center my-10">
        <div class="my-card mat-elevation-z2 col" id="teste">
            <h5>Ranking de gastos por município (R$)</h5>
            <app-bar-chart [data]="data"></app-bar-chart>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-md-center my-10">
        <div class="my-card mat-elevation-z2 col">
            <h5>Ranking de gastos por empresa (R$)</h5>
            <app-barchart-empresas [dataEmpresas]="dataEmpresas"></app-barchart-empresas>
        </div>
    </div>
</div>
