#cidade h1 {
    font-size: 40px;
    color: #0d4247;
    font-weight: bold;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    padding-bottom: 10px;
}

.infos h3 {
    font-size: 30px;
    color: #0d4247
}

.infos h5 {
    font-size: 16px;
    color: #585858
}

.gasto {
    justify-content: center;
    align-items: center;
}

.gasto h1 {
    align-self: center;
    font-size: 50px;
    color: #0d4247;
}

.gasto p {
    font-size: 12px;
    color: #585858;
    margin-top: -10px;
}

.btn-next {
    background: none;
    border: none;
    color: #23b0be;
    font-size: 30px;
    margin-right: 10px;
}

.btn-next:disabled {
    color: #0d4247;
}

.btn-prev {
    background: none;
    border: none;
    color: #23b0be;
    font-size: 30px
}

.btn-prev:disabled {
    color: #0d4247;
}

.linha {
    flex-direction: row-reverse
}

.table  {
    font-size: 16px;
    color: #0d4247
}

.table tbody tr:hover {
    cursor: pointer;
}

#info-prefeito .col-md-3 {
    margin-right: 2%;
}

.row ngx-select-dropdown {
    width: 80%;
}

@media screen and (max-width: 768px) {
    #cidade h1 {
        font-size: 26px;
    }

    #info-prefeito {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #info-prefeito .col-md-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0%;
    }

    #info-prefeito .col-md-3 img {
        width: 100px;
    }

    .row .gasto  {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }

    .info-gasto h1 {
        text-align: center;
        font-size: 28px;
        font-weight: bold;
    }

    .row ngx-select-dropdown {
        width: 100%;
    }
}