#cidade {
    font-size: 50px;
    color: #0d4247;
    font-weight: bold;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
}

.infos h3 {
    font-size: 28px;
    color: #0d4247
}

.infos h5 {
    font-size: 16px;
    color: #585858
}

.gasto {
    justify-content: center;
    align-items: center;
}

.gasto h1 {
    align-self: center;
    font-size: 42px;
    color: #0d4247;
}

.gasto p {
    font-size: 12px;
    color: #585858;
    margin-top: -10px;
}

.my-card {
    display: flex;
    align-items: center;
    width: 90%;
    height: 100%;
    padding: 16px;
    background-color: white;
}

#card-gasto {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.my-card #foto {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-right: 2%;
    height: 100%;
    background-size: cover;    
}

@media screen and (max-width: 768px) {
    #cidade h1 {
        font-size: 26px;
    }

    .my-card {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .my-card #foto {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5%;
    }

    .my-card #foto img {
        width: 100px;
    }

    .row .gasto  {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }

    .info-gasto h1 {
        text-align: center;
        font-size: 28px;
    }

    .my-card {
        width: auto;
    }

    #card-gasto {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #card-gasto .my-card {
        width: 120%;
    }
}

@media screen and (max-width: 988px) and (min-width: 768px) {

    .info-gasto h1 {
        text-align: center;
        font-size: 26px;
    }

    .my-card {
        width: auto;
        min-width: 100%;
    }

    #card-gasto {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gasto {
        display: flex;
        flex-direction: column;
    }

    .infos h5 {
        font-size: 12px;
    }

    .infos h3 {
        font-size: 20px;
    }
}

@media screen and  (min-width: 988px) and (max-width: 1144px) {

    .infos h5 {
        font-size: 12px;
    }

    .infos h3 {
        font-size: 24px;
    }

    .info-gasto h1 {
        text-align: center;
        font-size: 24px;
    }

}