#titulo {
    font-weight: 500;
    font-size: 2em;
    color: #0d4247;
}

.container{
    padding-top: 50px;
    margin-top: 50px;
}

#paragrafo {
    color: #0d4247;
    font-size: 1.2;
    font-weight: 500;
    text-indent: 2em;
}

.btn-prosseguir {
    border: #67c2a6 1px solid;
    width: 180px;
    height: 60px;
    background-color: #67c2a6;
    color: white;

    font-size: 1.2em;
    font-weight: 600;
    padding-top: 12px;
    padding-bottom: 12px;
}

.btn-prosseguir:focus, .btn-prosseguir:active {
    outline: none !important;
    box-shadow: none;
}

.btn-prosseguir:hover {
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
    .btn-prosseguir {
        margin-right: 15px
    }
}
