<app-header></app-header>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 animated bounceInLeft">
            <h2 id="titulo">Análise de licitações e campanhas eleitorais na Paraíba</h2> <br>
            <p id="paragrafo" align="justify">
                Ferramenta para ajudar os cidadãos a fiscalizarem os gastos públicos em
                licitações e campanhas eleitorais nos munícipios da Paraíba.
            </p>
        </div>
        <div class="col-md-6 animated bounceInRight">
            <img src="assets/images/mapa-paraiba.png" class="img-fluid" alt="">
        </div>
    </div>

    <div class="row mt-5">
        <div class="ml-auto">
            <a [routerLink]="['/pesquisa']" routerLinkActive="router-link-active"
                class="btn btn-prosseguir">Prosseguir</a>
        </div>
    </div>
</div>