/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import '~material-design-icons/iconfont/material-icons.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
}