<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active" >
            <img src="../../../assets/images/licitantes-icon-color.png" width="35" height="35" class="d-inline-block align-middle" alt="">
            Licitantes
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link navbar-links" href="#">BLOG <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-links" href="#">SOBRE</a>
                </li>
            </ul>
        </div>
    </div>
</nav>