<div class="container mt-5">
    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                <ngx-select-dropdown tabindex="0" [multiple]="false" [(ngModel)]="cidade" [options]="municipios"
                    [config]="configCidades" (change)="filtroMunicipio()"></ngx-select-dropdown>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <ngx-select-dropdown ngbTooltip="Selecione a unidade gestora." placement="bottom" triggers="manual"
                    #t="ngbTooltip" [disabled]="show()" [(ngModel)]="unidadeGestora" tabindex="0" [multiple]="false"
                    [options]="unidadesGestoras" [config]="configUnidadesGestoras">
                </ngx-select-dropdown>

            </div>
        </div>

    </div>

    <div *ngIf="!exibir" class="mt-5">
        <div class="row animated bounceInUp">
            <div class="mx-auto">
                <h1 style="color: #0d4247">Selecione seu município</h1>
            </div>
        </div>
    </div>

    <div *ngIf="exibir">
        <div class="row mt-5">
            <div class="mx-auto infos-cidade">
                <div class="col-md-12">
                    <img src="../../../assets/images/Mapa PB - PATOS-01.png" class="img-fluid ml-auto" alt="" id="mapa">
                </div>
            </div>
        </div>

        <div class="row">
            <div>
                <h1 id="cidade">{{ municipio.nome }}</h1>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 mr-2">
                        <img class="img-fluid" id="foto" src="../../../assets/images/user.png" alt="">
                    </div>
                    <div class="infos">
                        <h3>{{ candidato.nome_urna }}</h3>
                        <h5>{{ candidato.sigla_partido }}</h5>
                        <h5>{{ gestao.ano_inicio_mandato }}-{{ gestao.ano_fim_mandato }}</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-6 ">
                <div class="row">
                    <div class=" gasto mx-auto">
                        <div class="info-gasto">
                            <h1 id="gasto">{{ valorLicitacoes | currency:'BRL':'symbol':'1.2-2':'pt' }}</h1>
                            <p align="center">Total gasto do inicío do mandato até o presente momento.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button (click)="exibirMunicipio(t)" class="btn btn-detalhes mx-auto">Veja detalhadamente</button>
                </div>
            </div>
        </div>
    </div>




</div>