#foto {
    width: 200px;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    padding-bottom: 10px;
}

#cidade {
    font-size: 50px;
    color: #0d4247;
    font-weight: bold;
}

.infos h3 {
    font-size: 28px;
    color: #0d4247
}

.infos h5 {
    font-size: 16px;
    color: #585858
}

#mapa {
    width: 200px;
}

.infos-cidade {
    justify-content: center;
    align-items: center;
}

#habitantes {
    font-size: 35px;
    color: #0d4247
}

.gasto {
    justify-content: center;
    align-items: center;
}

.gasto h1 {
    align-self: center;
    font-size: 42px;
    color: #0d4247;
}

.gasto p {
    font-size: 12px;
    color: #585858;
    margin-top: -10px;
}

.btn-detalhes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-detalhes button {
    background-color: #0d4247;
    color: white;
}

#row-info-prefeito .col-md-3 {
    margin-right: 2%;
}

.my-card {
    display: flex;
    align-items: center;
    width: 90%;
    height: 100%;
    padding: 16px;
    background-color: white;
}

#card-gasto {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.my-card #foto {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-right: 2%;
    height: 100%;
    background-size: cover;    
}

#ErrorPesquisa{
    background-color:transparent;
    display: block;
    color: #0d4247;
    padding-top: 4vh;
    padding-bottom: 2vh;
}
#ErrorPesquisa label{
    display: block;
    text-align: center;
    font-family: Roboto;
}

#ErrorPesquisa label:first-child{
    font-size: 2vw;
}
#ErrorPesquisa label:nth-child(2){
    font-size: 1.4vw;
    margin-bottom: 5vh;
}

#ErrorPesquisa button{
    display: block;
    margin-left: 36vw;
    border:none;
    padding-top:2vh;
    padding-bottom: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color:#0d4247;
    color: white;
    border-radius: 10px;
}

#gInput{
    padding-top: 50px;
}
#groupCidade{
    padding-top: 150px;
}

@media screen and (max-width: 768px) {
    #selecionar {
        font-size: 26px;
    }

    #row-cidade {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }

    #row-cidade div h1 {
        font-size: 26px;
    }
    
    #row-info-prefeito {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #row-info-prefeito .col-md-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0%;
    }

    #row-info-prefeito .col-md-3 img {
        width: 100px;
    }

    /* .row .gasto  {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    } */

    .info-gasto h1 {
        text-align: center;
        font-size: 28px;
    }

    .my-card {
        width: auto;
    }

    #card-gasto {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #card-gasto .my-card {
        width: 120%;
    }

    .infos h3 {
        font-size: 18px;
        color: #0d4247
    }

    #groupCidade{
        padding-top: 0px;
    }


}

@media screen and (max-width: 988px) and (min-width: 768px) {

    .info-gasto h1 {
        text-align: center;
        font-size: 26px;
    }

    .my-card {
        width: auto;
        min-width: 100%;
    }

    #card-gasto {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gasto {
        display: flex;
        flex-direction: column;
    }

    .infos h3 {
        font-size: 18px;
    }
}

@media screen and (max-width: 1133px) and (min-width: 988px) {
    .infos h3 {
        font-size: 18px;
    }

    #gasto {
        font-size: 28px;
    }
}