<div id="Fdiv" class="container mt-5 mb-5">
    <div class="row">

        <div id="gInput" class="col-md-6 offset-md-3 col-12 col-sm-12">
            <div class="form-group">
                <ngx-select-dropdown tabindex="0" [multiple]="false" [(ngModel)]="cidade" [options]="municipios"
                    [config]="configCidades" (change)="filtroMunicipio()"></ngx-select-dropdown>
            </div>
        </div>

    </div>

    <div *ngIf="!exibir" class="mt-5">
        <div class="row animated bounceInUp">
            <div class="mx-auto">
                <div class="example-loading-shade" *ngIf="Loader">
                    <mat-spinner></mat-spinner>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="ErroLoad" id="ErrorPesquisa">
        <label>Ocorreu um erro ao fazer a busca, tente novamente</label>
        <!--<label>Caso persista mande um e-mail</label>-->
        <!--<button>Relatar problema</button>-->
    </div>

    <div *ngIf="exibir" id="groupCidade">
        <!-- <div class="row mt-5">
            <div class="mx-auto infos-cidade">
                <div class="col-md-12">
                    <img src="assets/images/Mapa PB - PATOS-01.png" class="img-fluid ml-auto" alt="" id="mapa">
                </div>
            </div>
        </div> -->

        <div class="row mt-5" id="row-cidade">
            <div class="col-md-12">
                <h1 id="cidade">{{NomeCidade}}</h1>
            </div>
        </div>

        <div class="col-md-12 mt-3" >
            <div class="row">
                <div class="col-md-6 mb-3" >
                    <div class="row mat-elevation-z4 my-card" id="ngt">
                        <div class="col-4" id="foto">
                            <img class="img-fluid" src="assets/images/user.png" alt="Foto do prefeito da cidade">
                        </div>
                        <div class="infos">
                            <h5>Prefeito(a)</h5>
                            <h3>{{ candidato.nome_urna }}</h3>
                            <h5>{{ candidato.sigla_partido }}</h5>
                            <h5>{{ gestao.ano_inicio_mandato }}-{{ gestao.ano_fim_mandato }}</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-3" id="card-gasto">
                    <div class="row mat-elevation-z4 my-card">
                        <div class=" gasto mx-auto">
                            <div class="info-gasto">
                                <h1 id="gasto">{{ valorLicitacoes | currency:'BRL':'symbol':'1.2-2':'pt' }}</h1>
                                <p aling="center">Total gasto do inicío do mandato até o presente momento.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>