#foto {
    width: 200px;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    padding-bottom: 10px;
}

#cidade {
    font-size: 50px;
    color: #0d4247;
    font-weight: bold;
}

.infos h3 {
    font-size: 30px;
    color: #0d4247
}

.infos h5 {
    font-size: 16px;
    color: #585858
}

#mapa {
    width: 200px;
}

.infos-cidade {
    justify-content: center;
    align-items: center;
}

#habitantes {
    font-size: 35px;
    color: #0d4247
}

.gasto {
    justify-content: center;
    align-items: center;
}

.gasto h1 {
    align-self: center;
    font-size: 50px;
    color: #0d4247;
}

.gasto p {
    font-size: 12px;
    color: #585858;
    margin-top: -10px;
}

.btn-detalhes {
    background-color: #0d4247;
    color: white;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}

.btn-detalhes:disabled {
    background-color: #041416;
    color: white;
}

#row-info-prefeito .col-md-3 {
    margin-right: 2%;
}

@media screen and (max-width: 768px) {
    #selecionar {
        font-size: 26px;
    }

    #row-cidade {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }

    #row-cidade div h1 {
        font-size: 26px;
    }
    
    #row-info-prefeito {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #row-info-prefeito .col-md-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0%;
    }

    #row-info-prefeito .col-md-3 img {
        width: 100px;
    }

    .row .gasto  {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }

    .info-gasto h1 {
        text-align: center;
        font-size: 26px;
    }
}