<div id="superior">
<div class="container mt-5 mb-5">
    <div class="row mb-4">
        <div class="col-md-12" id="titulo">
            <label id="Nm">{{municipio.nome}}</label>
            <h6>{{ licitacao.nome_unidade_gestora }}</h6>
        </div>
    </div>

    <div class="col-md-12" *ngIf="licitacao != null">
        <div class="row">
            <div class="col-md-6 col-sm-12 my-card mx-auto">
                <div class="row detalhes">
                    <div class="col-1" id="icones">
                        <i class="fas fa-coins"></i>
                    </div>
                    <div class="col-10 descricao">
                        <h4>Valor licitado:</h4>
                        <div id="outros">{{ licitacao.valor_licitado | currency:'BRL':'symbol':'1.2-2':'pt' }}</div>
                    </div>
                </div>

                <div class="row detalhes">
                    <div class="col-1" id="icones">
                        <i class="fas fa-hands-helping fa-x"></i>
                    </div>
                    <div class="col-10 descricao">
                        <h4>Objeto:</h4>
                        <div id="objeto">{{ licitacao.objeto }}</div>
                    </div>
                </div>

                <div class="row detalhes">
                    <div class="col-1" id="icones">
                        <i class="far fa-calendar-alt fa-3x"></i>
                    </div>
                    <div class="col-10 descricao">
                        <h4>Data:</h4>
                        <div id="outros">{{ licitacao.data_homologacao | date: 'dd/MM/yyyy' }}</div>
                    </div>
                </div>

                <div class="row detalhes">
                    <div class="col-1" id="icones">
                        <i class="far fa-file-alt fa-3x"></i>
                    </div>
                    <div class="col-10 descricao">
                        <h4>Modalidade: </h4>
                        <div id="outros">{{ licitacao.modalidade }}</div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12" id="lado-2">
                <div class="row mb-4">
                    <div class="mx-auto my-card ">
                        <div class="col-md-12">
                            <div class="mx-auto">
                                <h4 align="center" id="vencedor">{{ vencedores ? 'Vencedores' : 'Vencedor' }}</h4>
                            </div>
                        </div>
                        <div class="col-md-12 mx-auto">
                            <div class="table-responsive-md">
                                <table id="tabela" class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th>Participante</th>
                                            <th>Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let proposta of propostas | filterProposta">
                                            <td class="col-md-8">{{ proposta.nome_participante }}</td>
                                            <td class="col-md-4">
                                                {{ proposta.valor_proposta | currency:'BRL':'symbol':'1.2-2':'pt' }}
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="mx-auto my-card">
                        <div class="col-md-12">
                            <div class="mx-auto">
                                <h4 align="center" id="outras">{{ perdedores ? 'Outras propostas' : 'Outra Proposta' }}
                                </h4>
                            </div>
                        </div>

                        <div *ngIf="perdedores == false" class="mx-auto">
                            Não houve proposta perdedora nesta licitação
                        </div>

                        <div *ngIf="perdedores" class="col-md-12 mx-auto">
                            <div class="table-responsive-md">
                                <table id="tabela" class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th>Participante</th>
                                            <th>Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let proposta of propostas | filterPropostaPerdedora">
                                            <td class="col-md-8">{{ proposta.nome_participante }}</td>
                                            <td class="col-md-4">
                                                {{ proposta.valor_proposta | currency:'BRL':'symbol':'1.2-2':'pt' }}
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>