#superior{
    background-color: white;
    width: 97vw;
    margin-left: 1vw;
    box-shadow: 2px 2px 5px #0d4247;
}
#Nm{
    display: inline-block;
    margin-top: 5vh;
    font-size: 40px;
    color: #0d4247;
    font-weight: bold;
}
#ln{
    width: 0.1vw;
    height: 35vh;
    margin-top: 3vh;
    background-color:#0d4247;
    position: absolute;
    margin-left: 38vw;
    z-index:1000;
}
#ln2{
    width: 0.1vw;
    height: 33vh;
    background-color: #0d4247;
    position: absolute;
    margin-left: 38vw;
    z-index:1000;
    margin-top: 41vh;
}

#titulo h6 {
    font-size: 18px;
    color: #585858;
}

.descricao {
    display:flex;
    flex-direction: column;
}

.descricao h4 {
    color: #0d4247;
    font-size: 18px;
    font-weight: bold;
}

.detalhes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px 0;
    margin-bottom: 20px;
}

.detalhes #icones {
    margin-right: 3%;
}

.detalhes div i {
    color: #0d4247;
    font-size: 30px;
}

.descricao #objeto {
    color: #585858;
    font-size: 14px;
}

.descricao #outros {
    color: #585858;
    font-size: 18px;
}

.info-gasto {
    padding: 0;
}

.info-gasto h1 {
    color: #0d4247;
    font-size: 42px;
}

.info-gasto h4 {
    font-size: 18px;
    font-weight: bold;
    color: #0d4247;
}

#vencedor {
    font-size: 30px;
    color: #0d4247;
}

#tabela tbody tr td {
    /* text-align: center;     alinhamento horizontal */
    /* vertical-align: middle; */
    color: #585858
}

#outras {
    font-size: 20px;
    color: #0d4247;
}

.my-card {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    padding: 16px;
    background-color: white;
}

#gasto {
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .col-md-12 #cidade {
        font-size: 26px;
    }

    .row #info-licitacao .detalhes {
        padding: 5px 0;
        margin-bottom: 5px;
    }

    .objeto {
        display:flex;
        align-items: center;
        color: #0d4247;
        font-size: 12px;
    }

    .info-gasto #valor {
        text-align: center;
        font-size: 28px;
        font-weight: bold;
    }

    #lado-2 {
        margin-top: 15%;
    }

    .detalhes #icones {
        margin-right: 5%;
    }
}

