<app-header></app-header>

<div class="container mt-5 mb-5">
    <div class="row mb-4">
        <div class="col-md-12">
            <h1 id="cidade">{{ municipio.nome }}</h1>
        </div>
    </div>
    <div class="row" *ngIf="licitacao != null">
        <div class="col-md-6">
            <div class="row detalhes">
                <div class="col-md-2" id="icone">
                    <i style="color: #08A5CA" class="fas fa-hands-helping fa-3x"></i>
                </div>
                <div class="col-md-10 objejo">
                    {{ licitacao.objeto }}
                </div>
            </div>
            <div class="row detalhes">
                <div class="col-md-2" id="icone">
                    <i style="color: #08A5CA" class="far fa-calendar-alt fa-3x"></i>
                </div>
                <div class="col-md-10 data">
                    &nbsp;{{ licitacao.data_homologacao | date: 'dd/MM/yyyy' }}
                </div>
            </div>
            <div class="row detalhes">
                <div class="col-md-2 icon" id="icone">
                    <i style="color: #08A5CA" class="far fa-file-alt fa-3x"></i>
                </div>
                <div class="col-md-10 data">
                    &nbsp;{{ licitacao.modalidade }}
                </div>
            </div>
        </div>


        <div class="col-md-6 ">
            <div class="row mb-4">
                <div class="mx-auto">
                    <div class="info-gasto">
                        <h1 id="valor">{{ licitacao.valor_licitado | currency:'BRL':'symbol':'1.2-2':'pt' }}</h1>
                        <p id="info" align="center">Total licitado*</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="mx-auto">
                        <h4 align="center" id="vencedor">Vencedor</h4>
                    </div>
                </div>
                <div class="col-md-11 offset-md-1">
                    <div class="table-responsive-md">
                        <table id="tabela" class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>Participante</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let proposta of propostas | filterProposta">
                                    <td class="col-md-8">{{ proposta.nome_participante }}</td>
                                    <td class="col-md-4"> {{ proposta.valor_proposta | currency:'BRL':'symbol':'1.2-2':'pt' }} </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="mx-auto">
                        <h4 align="center" id="outras">Outras propostas</h4>
                    </div>
                </div>
                <div class="col-md-11 offset-md-1">
                    <div class="table-responsive-md">
                        <table id="tabela" class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>Participante</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let proposta of propostas | filterPropostaPerdedora">
                                    <td class="col-md-8">{{ proposta.nome_participante }}</td>
                                    <td class="col-md-4"> {{ proposta.valor_proposta | currency:'BRL':'symbol':'1.2-2':'pt' }} </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>